[user]
	name = Wayne Van Son
	email = waynevanson@gmail.com
[alias]
	c = commit
	ch = checkout
	a = add
	st = status
	br = branch
	global = config --global
	g = config --global
	pr = pull --rebase
	last = log -1 HEAD
	cm = commit -m
[init]
	defaultBranch = main
[core]
	editor = nvim
